
:root{
    --main-gradient: linear-gradient(to right, pink, violet);
}


*{
 margin: 0px; 
 padding: 0px;
 font-family:"Quicksand", sans-serif;
 
}



.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
}
 h2 span{
color:pink;
}
.signup .left img{
    width: 400px;
}

.signup .right {
    display: flex;
    flex-direction: column;
    width: 350px; 
}
 /*}
.signup .right form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 10px;
    padding-right: 10px;
}
    */
.signup .right form .formItem{
    margin-bottom: 12px;
    width: 100%;
  

}
.signup .right form .formItem input{
    width: 100%;
    border: solid 1px gray;
    border-radius: 12px;
    height: 35px;
    padding: 5px;

}
h2{
font-size: 45px;
}
.bouton{
    background-color: rgb(4, 4, 72);
    height: 35px;
    margin-top: 10px;
    border-radius: 12px;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
}
.bouton:hover {
    background-color: rgb(50, 50, 150);
}
.signup .right form .signorlog{
margin-top: 20px;
text-align: center;
}
a{
    text-decoration: none;
}
.signup .right form .signorlog a{
    color: rgb(130, 66, 220);
    font-weight: bold;
}

@media (max-width: 704px){
    .signup{
        flex-direction: column
        ;

    }
    .signup .left img {
        width: 300px;
    }

    .signup .right {
        width: 90%;
    }
}