body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display:flex;
    justify-content: center;
}

.container {
    width: 500px;
    margin: 50px auto;
    background:pink;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(38, 42, 42, 0.2);
    max-height: 100%;
}



input {
    width: 90%;
    padding: 7px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
}
input:focus{
    outline: none;
}



.bouton {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4c8eaf9a;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 70px;
    border-radius: 10px;
}

.bouton:hover {
    background-color: #45a049;
}
h2 {
    text-align: center;
}

