body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}







.footer {
    width: 100%;
    margin-top: auto;
    background: linear-gradient(to right, pink, violet);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}